<header class="page-header">
  <div id="header-container" class="header-inner">
    <div class="logo-title">
      <img src="../assets/images/logo.png" alt="TutorDA Logo" class="header-logo" />
      <div class="page-title-container">
      </div>
    </div>
    <nav class="main-nav">
      <a href="../index.html">Home</a>
      <a href="about.html">About</a>
      <a href="courses.html">Courses</a>
      <a href="elearn.html">E-Learn</a>
      <a href="team.html">Our Team</a>
      <a href="faq.html">FAQ</a>
      <a href="testimonials.html">Testimonials</a>
      <a href="contact.html">Contact</a>
    </nav>
  </div>
</header>